body {
  font-family: sans-serif;
}
a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;

  padding: 20px;


  height: 400px;

  margin-bottom: 20px;
  width:100%;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

#output {
  border: 2px solid #ccc;
    border-radius: 20px;
    /* width: 480px; */
    /* margin: 50px auto; */
    padding: 20px;
  
    /* top: 100px; */
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 121px;
    font-size: 13px;
    width:100%;
}